:root {
  --borderColor:#aaa;
}

body {
  margin: 0;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #fbfbfb;
}

/* font */
body, button, select, textarea, input {
  color: #2d2d2d;
  font-family: sans-serif;
}

/* form element*/
button, select, textarea, input {
  border: 1px solid #aaa;
}

input {
  padding: 5px 7px;
}

button:hover {
  background-color: #eaeaea;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

form label:not(:first-child) {
  margin-top: 1rem;
}

.login-container {
  width: 20rem;
  margin: 3rem auto;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid var(--borderColor);
  border-radius: 4px;
}

.login-btn {
  margin-top: 24px;
  padding: 5px 0;
  font-weight: bold;
}

nav a {
  /* text-decoration: none; */
  color: inherit;
}

select {
  padding: 4px;
}

header {
  padding: 1rem 0;
  background-color: #fcfcfc;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}

.brand {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

footer {
  margin-top: 2rem;
  padding: 1rem 0;
  background-color: #2d2d2d;
}

main {
  padding: 5rem 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
}

.gnb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gnb {
  margin-left: 3rem;
}

.gnb a:not(:last-child) {
  margin-right: 1rem;
}

.unb a:not(:last-child) {
  margin-right: 1rem;
}

.unb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fnb a:not(:last-child) {
  margin-right: 1rem;
}

.fnb a {
  color: #fcfcfc;
}

/* utils */
.nowrap {
  white-space: nowrap;
}

/* container */
.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center {
  text-align: center;
}

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 33rem;
  border: 1px solid var(--borderColor);
  margin-bottom: 1rem;
}

.card:not(:last-child) {
  margin-right: 1rem;
}

.card-text {
  padding: 1rem;
}

.card-img {
  width: 100%;
}

@media (max-width: 45rem) {
  .card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */