:root{
    --borderColor:#aaa;
}


body{
    margin: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* font-color */
body, button, select, textarea, input{
    color:#2d2d2d;
}

/* form element*/
button, select, textarea, input{
    border:1px solid #aaa;
}

nav a{
    /* text-decoration: none; */
    color:inherit;
}


select{
    padding:4px;
}


header{
    padding:1rem 0;
    background-color: #fcfcfc;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

.brand{
    font-weight: bold;
}

footer{
    margin-top:2rem;    
    padding:1rem 0;
    background-color: #2d2d2d;
}

main{
    margin-top: 5rem;
    flex-grow: 1;
}

.nowrap{
    white-space: nowrap;
}

.container{
    max-width: 70rem;
    margin: 0 auto;
    padding:0 1rem;
    box-sizing: border-box;
}

.row{
    display: flex;
}

.end{
    justify-content: flex-end;
}

.between{
    justify-content: space-between;
}

.gnb-container{
    display: flex;
    align-items: center;
}

.gnb{
    margin-left: 3rem;
}

.gnb a:not(:last-child){
    margin-right:1rem;
}

.unb a:not(:last-child){
    margin-right:1rem;
}

.unb {
    display: flex;
    align-items: center;
}

.fnb a:not(:last-child){
    margin-right:1rem;
}

.fnb a{
    color:#fcfcfc;
}

.card{
    box-sizing: border-box;
    display: inline-block;
    width: 33rem;
    border:1px solid var(--borderColor);
    margin-bottom: 1rem;
}

.card:not(:last-child){
    margin-right:1rem;
}

.card-text{
    padding:1rem;
}

.card-img{
    width: 100%;
}

@media (max-width: 45rem){
    .card{
        width: 100%;
    }
}